* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

body {
  padding: 60px;
}

.form__box {
  padding: 20px;
}

.form__text {
  color: cadetblue;
  font-size: 1.3rem;
  width: 100%;
}

.gifGrid__container__card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gifGrid__container__card-title {
  padding: 15px;
  width: 100%;
}

.gifGridItem__card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  flex: 1 1 200px;
  margin: 1rem;
  overflow: hidden;
  text-align: center;
}

.gifGridItem__card p {
  padding: 5px;
  text-align: center;
}

.gifGridItem__card img {
  max-width: 100%;
  max-height: 170px;
}
